{% extends 'base.html' %}

{% block head %}

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% endblock %}

{% block body %}
<h1 style="text-align: center">Probe Designer</h1>

<form action="/useqFISH" method="GET">
  <!-- <input type="hidden" name="prb_type" value="useqFISH"> -->
  <button type="submit">useqFISH Probe</button>
</form>

<form action="/HCR3" method="GET">
  <!-- <input type="hidden" name="prb_type" value="HCR3"> -->
  <button type="submit">HCR3 Probe</button>
</form>

{% endblock %}

