{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content"> 
    <h1 style="text-align: center">Update Parameters</h1>

    <form action="/parameters" method="POST">
        <label for="prb_length">Probe Legnth:</label>
        <input type="number" name="prb_length" id="content" value="20" required=True><br>
        <label for="min_gc">GC Range:</label>
        <input type="number" name="min_gc" value="40" required=True>
        <label for="max_gc"> to </label><input type="number" name="max_gc" value="60" required=True><br>
        <label for="hits_thresh">Hits Thresh:</label>
        <input type="number" name="hits_thresh" value="5"><br required=True>
        <label for="num_offtar_thresh">Num Offtar Thresh:</label>
        <input type="number" name="num_offtar_thresh" value="0" required=True><br>
        <label for="prb_space">Probe Space:</label>
        <input type="number" name="prb_space" value="1" required=True><br>
        <label for="dg_thresh">DG Thresh:</label>
        <input type="number" name="dg_thresh" value="9" required=True><br>
        <button type="submit">Update Parameters</button>
    </form>
</div>
{% endblock %}

